.unity-logo{
    height: auto;
}
.header-logo>a>img{
    max-width: 80px;
    max-height: 80px;
}
#home-slider .item{
    background-size: contain;
}
.league-head-text{
    font-size: 30px;
    font-weight:700;
    font-family: 'Roboto',sans-serif;
}
.team-logos img{
    max-height: 65px;
    width: auto;
}
.team-logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.dropbtn {
    width: 210px;
    background-color: #006185;
    color: white;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn >h6{
    color: white;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #1D7EA1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1D7EA1;

}
.row-centered > div {
    background-color: green; width: 88px; margin-right: 5px; margin-bottom: 5px;  text-align: center;
}

.grey {
    background-color: grey !important; }


.col-sm-4 > .text-center{
    padding: 9%; color: white;
}
.row-centered > h5{
    width: 270px; font-weight:400; padding-top: 8px;
}

.row-centered > h6{
    width: 270px;
}
.blocks{
    margin-bottom: 40px;
}
.block{
    width: 16px; height: 16px; margin-right: 5px; float: left; background-color: green;
}


.tables2{
    display: grid;justify-content: center; margin-top: 50px; margin-bottom: 50px;
}
.tables22 tr, td{
    border: none;
}


.tbody tr:nth-child(even) {
    background: white  !important;
}
.tbody tr,td{
    border: none;
}
.tbody tr{
    background-color: #F8F9F8;
}
.tbody tr:nth-child(even) td:nth-child(3) {
    background: #1D7EA1  !important;
    color: #FFFFFF; border: none; width: 80px; text-align: center;
}

.tbody tr:nth-child(odd) td:nth-child(3) {
    background: #006185  !important;
    color: #FFFFFF; border: none; width: 80px; text-align: center;

}


.tbody td:nth-child(1) {
    width: 80px; padding: 5px; border: none;
}


.tbody td:nth-child(1) img {
    float: right;
}


.tbody td:nth-child(2) {
    width: 250px;
}


.tbody td:nth-child(2) span {
    border: none; font-size: 15px;margin-left: 5px; font-weight: bold;
}


.tbody td:nth-child(4) {
    border: none; width: 250px;
}
.tbody td:nth-child(4)  span{
    float: right; font-size: 15px;margin-right: 5px; font-weight: bold
}

.tbody td:nth-child(5) {
    border: none; width: 80px; padding: 5px;
}

.tbody td:nth-child(5) span {
    float: left;
}


.tbody td:nth-child(3) span {
    font-size: 20px;
}








#smth{
    background-color: green; width: 88px; margin-right: 5px; margin-bottom: 5px;  text-align: center;
}

#smth h4{
    padding: 9%; color: white;
}
#smt h5{
    width: 270px; font-weight:400; padding-top: 8px;
}

#smt h6{
    width: 270px;
}
#smt2{
    background-color: grey; width: 88px;  margin-right: 5px; margin-bottom: 5px;    text-align: center;
}

#smt2 h4{
    padding: 9%; color: white;
}

#blocks{
    margin-bottom: 40px;
}
.block1{
    width: 16px; height: 16px; margin-right: 5px; float: left; background-color: red;
}
.block2{
    width: 16px; height: 16px; margin-right: 5px; float: left; background-color: orange;
}
.block3{
    width: 16px; height: 16px; margin-right: 5px; float: left; background-color: green;
}
.block4{
    width: 16px; height: 16px; margin-right: 5px; float: left; background-color: green;
}
.block5{
    width: 16px; height: 16px; margin-right: 5px; float: left; background-color: green;
}

.mainn{
    margin-top: 150px;
}
.buttons{
    display: grid;justify-content:space-around;
}
.top{
    justify-content:space-around; margin-right: 10px; margin-top: 15px;
}

#tables{
    background-color: #F8F9F8;
    margin-bottom: 30px;
}
tr  {
    border-top:0.5px solid grey;
    border-bottom:0.5px solid grey;

}
td{
    border-right: 0.5px solid grey;
}
.date{
    width: 120px;
    font-size: 12px;
    text-align: center;
}
.liga{
    width: 200px;
}
.liga h6{
    margin-left: 10px;
    color: #1D7EA1;
}


.firstteam {
    width: 170px;
}
.firstteam h6{
    margin-left: 5px;
    color: #1D7EA1;
}
.secondteam{
    width: 170px;
}
.secondteam h6{
    margin-left: 5px;
    color: #1D7EA1;
}
.secondteam2{
    border-right: none;
    width: 340px;
}
.secondteam2 h6{
    margin-left: 5px;
    color: #1D7EA1;
}
.score{
    width: 50px;
    text-align: center;
}
.score h5{
    margin: 5px;
}

.winlose{
    width: 120px;
    text-align: center;
    border-right: none;
}
.winlose h6{
    color: #00BA16;

}



.p1{
    width: 30px;
}
.p1 h6{
    text-align: center;
}
.p2{
    width:  220px;
    border-right: none;
}
.p2 h6{
    margin-left: 5px;
    color: #1D7EA1;
}
.p3{
    width: 30px;
    text-align: center;
    border-left: none;
    border-right: none;
}
.pos{
    border-right: none;
}




